.list {
  margin-bottom: 30px;

  li{
    display: flex;
    align-items:center;
    cursor: pointer;
    padding: 10px 12px;

    &:hover {
      background-color: rgba(235, 235, 235, 0.4);
    }

    &.active {
      background-color:#ffffff;
      box-shadow:0px 3px 10px rgba(0,0,0,0.04);
      border-radius:4px;
    }

    .color-circle {
      position: relative;
      left:5px;
    }

    span {
      display: inline-flex;
    }
    span > svg {        
        margin-right: 8px;
        path {
          fill:#7c7c7c;
        }}
   span>span {
        margin-right: 16px;
    }
    }
  }
  