.block-note {
  &__tasks {
    flex: 1;
    padding: 60px;

    &_title {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color: #64C4ED;
      border-bottom: 2px solid #f2f2f2;
      padding-bottom: 15px;
    }

    &:hover {
      img {
        opacity: 0.2;
      }
    }

    img {
      opacity: 0;
      padding: 0px 0px 11px;
      margin-left: 15px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

