.tasks{
&__form {
  margin-top: 20px;

  &-block {
    .button {
      margin-right: 10px;
      margin-top: 15px;
    }
  }
   &-new {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;  
  transition: opacity 0.3s ease-in-out;
  &:hover {
      opacity: 0.8;
  } 
  
  img {
    width: 15px;
    height: 15px;
    margin-left: 2px;
  }
  
  span {
    font-size: 16px;
    margin-left: 20px;
  }
}
}
}