*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  outline: none;

  font-family: "Roboto",-apple-system, system-ui,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul[class],
ol[class] {
  padding: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
img {
  max-width: 100%;
}

.block-note{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%,-50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar {
    background-color: #f4f6f8;
    width: 250px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  
}

.area-input {
  background-color: #FFFFFF;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;

  &:focus {
    border-color: #dbdbdb;
  }
}

.button {
  background-color: #4DD599;
  border-radius: 4px;
  color:#ffffff;
  border:0;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: #4DD599, $amount: 7%);
  }

  &:active {
    background-color: darken($color: #4DD599, $amount: 10%);
  }
}

